{%extends "contenido/encabezado.html"%}

{% block titulo %} Cursos {% endblock %}

{%block contenido%}
<div class="page-content">
    <!--Tabla de Cursos-->
    <table class="table able-bordered table-striped">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Curso</th>
                <th>Profesor</th>
                <th>Lecciones</th>
                <th>Horas</th>
                <th>Clasificación:</th>
                <th>Fecha de publicación</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-center">
                    <img src="" alt="" class="img-media">
                </td>
                <td class="text-semibold">Python</td>
                <td class="muted">Mauricio Olivas</td>
                <td class="muted">10</td>
                <td class="muted">20 horas</td>
                <td class="muted">Software</td>
                <td class="muted">29/06/2022</td>
            </tr>
        </tbody>

    </table>
<!--/Tabla de Cursos-->
</div>
{%endblock%}

