{%extends "contenido/encabezado.html"%}

{% block titulo %} Cursos {% endblock %}

{%block contenido%}
<div class="page-content">

    <div class="page-header">

        <div class="page-title">
            <h1>Cursos</h2><br>
            <h3>Lista de nuestros cursos disponibles</h3><br>
            <ol type="A">
                <li><a href="">Base de Datos</a></li>
                <li><a href="">Programación</a></li>
                <li><a href="">Seguridad Informática</a></li>
            </ol>
        </div>  
    </div>
</div>
{%endblock%}

