{%extends "contenido/encabezado.html"%}

{% block titulo %} Principal {% endblock %}

{%block contenido%}
<div class="page-content">

    <div class="page-header">

        <div class="page-title">
            <h1>Bienvenido a PROSEINET</h2><br>
            <h3>Algo sobre nosotros</h3><br>
            <p>Somos una institución la cual está 100% comprometida a darte lo mejor de los cursos
                en línea y de la mejor calidad. Priorizando tu aprendizaje y superación como persona.
                Es sumamente importante para nosotros que sigas en aprendizaje para tu futuro.
            </p>
        </div>  
    </div>
</div>
{%endblock%}    